<style>
    .edit-coupon:hover i{
        color: #10B981;
    }
    .delete-coupon:hover i{
        color: #e42b5c;
    }
</style>
<div style="width: 100%; padding: 15px; height: 100%;background-color: #f0f0f1;display: flex;align-items:flex-start;overflow-y: scroll;position: relative;flex-direction:column">
        <h3 style="font-size: 18px;font-weight: 500;text-transform: uppercase;margin-bottom:25px">All Coupons </h3>

<div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: flex-start;">
    <% coupons.forEach(function(coupon) { %>
        <div style="display: flex; flex-direction:column;gap: 15px;width: 100%;">

        <div style="position: relative;width: 35%; padding: 0px; background-color: #fff;height: fit-content;">
	    <div style="position:absolute;top:0;right:0;padding:4px 8px;color:#fff;background:linear-gradient(to bottom right,#0c1f8f, #ed683e );text-align:center;font-weight:600;">
			ColoHealth
	    </div>
            <div style="background-color: #fff; border-radius: 2px;border:1px solid rgba(0,0,0,0.2); padding: 10px;">
                <h6 style="color: #10B981; font-weight: bold; letter-spacing: 2px; line-height: 20px; display: flex; align-items: center; margin-bottom: 10px; gap: 5px;">
                    <i style="font-size: 22px; line-height: 20px;" class='bx bxs-award'></i> <%= coupon.couponCode %>
                </h6>
                <p style=" font-size: 16px; line-height: 18px;margin:0; margin-top: 5px; padding-left: 30px; padding-right: 30px;font-weight:600;"><span style="font-size:16px;font-weight:600;"><%= coupon.couponDiscount+"%" %> OFF | </span> Upto <span style="font-size:16px;font-weight:600;"><%= coupon.maximumAllowedDiscount ? coupon.maximumAllowedDiscount+" USD" : "FLAT" %></span> </p>
		<div style="margin-top:5px;display:flex; align-items:center;gap:5px">
		    <div style="padding-left: 30px;font-size:14px"><i class="fa-solid fa-hand-holding-dollar" style="margin-right:5px;"></i> Availed by: 1 Persons</div>
		</div>
                <div style="text-align: right;display:flex;align-items:center;justify-content:flex-end;gap:7px">
                    <a href="/api/v1/manage/edit-coupon/<%= coupon._id %>" style="color: #2271b1; font-weight: 600; border: none; background-color: transparent;border:1px solid rgba(0,0,0,0.3); font-size:14px;padding:5px 14px" >Edit</a>
                    <a href="/api/v1/manage/delete-coupon/<%= coupon._id %>" style="color: #e42b5c; font-weight: 600; border: none; background-color: transparent;border:1px solid rgba(0,0,0,0.3); font-size:14px;padding:5px 14px" >Remove</a>
                </div>
            </div>
        </div>

    <% }); %>


</div>
</div>


</div>


