<div style="width: 100%;height: 100%;padding: 15px;">
	<div style="display: flex;align-items: center;justify-content: space-between;">
		<div id="all-posts-top-heading" style="display: flex;align-items: center;gap: 15px;">
			<h3 style="font-size: 18px;font-weight: 500;">All Post Types</h3>
			<button class="button-secondary-blue" style="background-color: #fff;" onclick="handleAddNewPostType()">Add New Post Type</button>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</div>
	<div style="display: flex;align-items: center;justify-content: space-between;width: 100%;margin-bottom: 15px;">
		<p style="font-size: 13px;margin: 0;"> <a class="nrm-txt" style="font-weight: 400;text-decoration: none;color: #484848;" href="/api/v1/manage/show-posts-by-post-type/">All <span style="color: #969696;" >(122)</span> |</a> <a class="nrm-txt" style="font-weight: 400;text-decoration: none;color: #484848;" href="/api/v1/manage/show-posts-by-post-type/?published=true">Published <span style="color: #969696;" >(106)</span> |</a> <a class="nrm-txt" style="font-weight: 400;text-decoration: none;color: #484848;" href="/api/v1/manage/show-posts-by-post-type/?hidden=true">Hidden <span style="color: #969696;" >(16)</span></a></p>

		<div style="display: flex;align-items: center;gap: 5px;">
			<form action="/api/v1/manage/search-posts-by-name" method="post">
				<input style="padding: 5px;outline: none;border: 1px solid rgba(0,0,0,0.25);" type="text" name="searchName" id="searchName">
				<button class="button-secondary-blue" style="border-radius: 2px;">Search Pages</button>
			</form>
		</div>
	</div>
	<style>
		tbody tr:nth-child(odd) {
			background-color: #f6f7f7;
		}

		tbody tr:nth-child(even) {
			background-color: #fff;
		}
	</style>
	<table width="100%" cellspacing="0" cellpadding="0" style="border: 1px solid rgba(0,0,0,0.25);">
		<thead style="border-bottom: 2px solid #d8d8d8;background-color: #fff;">
			<tr>
				<th>
					<div style="display: flex; align-items: center; justify-content: start;padding: 10px;">
						<h3 style="font-size: 12px;margin: 0px;">Title</h3>
					</div>
				</th>
				<th>
					<div style="display: flex; align-items: center; justify-content: start;padding: 10px;">
						<h3 style="font-size: 12px;margin: 0px;">Slug</h3>
					</div>
				</th>
				<th>
					<div style="display: flex; align-items: center; justify-content: start;padding: 10px;">
						<h3 style="font-size: 12px;margin: 0px;">Custom Field</h3>
					</div>
				</th>
				<th>
					<div style="display: flex; align-items: center; justify-content: start;padding: 10px;">
						<h3 style="font-size: 12px;margin: 0px;">Post Count</h3>
					</div>
				</th>
				<th>
					<div style="display: flex; align-items: center; justify-content: start;padding: 10px;">
						<h3 style="font-size: 12px;margin: 0px;">Actions</h3>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>

			<% allPostTypes.forEach(post=> { %>
				<tr style="border-bottom: 1px solid rgba(0,0,0,0.25);">
					<td style="padding: 10px;">
						<div style="font-size: 13px;">
							<span style="color: #2271B7;font-weight: 500;">
								<%= post.postTypeName %>
							</span>
						</div>
					</td>
					<td style="padding: 10px;">
						<div style="font-size: 13px;">
							<span style="color: #2271B7;font-weight: 500;">
								<i class="fa-solid fa-key" style="color: #969696;margin-right: 5px;"></i><%= post.postTypeSlug %>
							</span>
						</div>
					</td>
					<td style="padding: 10px;">
						<div style="font-size: 13px;">
							<span style="color: #2271B7;font-weight: 500;">
								<%= post.customField.length> 0 ? post.customField[0] : "Unselected" %>
							</span>
						</div>
					</td>
					<td style="padding: 10px;">
						<div style="font-size: 13px;">
							<span style="color: #484848;font-weight: 500;">
								<%= post.postCount %>
							</span>
						</div>
					</td>
					<td style="padding: 10px;">
						<div
							style="display: flex;width: 100%;align-items: center;justify-content: flex-start;gap: 10px;">
							<span
								style="display: inline-block;padding:3px 5px;cursor: pointer;font-size: 12px; font-weight: 600;"
								onclick="choosePostType('<%= post._id %>')"><i
									class="fa-solid fa-right-long"></i></span>
									<% if (post.postCount === 0) { %>
										<span
								style="display: inline-block;padding:3px 5px;cursor: pointer;font-size: 12px; font-weight: 600;"
								onclick="deletePostType('<%= post.postTypeName %>', '<%= post._id %>')"><i
									class="fa-solid fa-trash-can"></i></span>
										<% } else { %>
											<span
								style="display: inline-block;padding:3px 5px;cursor: pointer;font-size: 12px; font-weight: 600;"
								onclick="showAlert('<%= post.postTypeName %>', '<%= post._id %>')"><i
									class="fa-solid fa-trash-can"></i></span>
											<% } %>
							
							<label for="<%= post.postTypeSlug %>"
								style="font-size: 13px;font-weight: 600;padding-top: 4px;"><i
									class="fa-solid fa-thumbtack"></i></label>
							<input type="checkbox" <%=post?.pin ? 'checked' :"" %> id="<%= post.postTypeSlug %>"
								onchange="handlePinning(this, '<%= post.postTypeName %>', '<%= post._id %>')">
						</div>
					</td>
				</tr>

				<% }) %>
		</tbody>
	</table>
</div>




<script>

	function handlePinning(element, postTypeName, postTypeId) {
		
		fetch("/api/v1/manage/pin-post-type", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({ postTypeName, postTypeId, pin: element.checked })
		}).then(res => res.json).then(data => { window.location.reload(); }).catch(err => console.log(err))
	}

	function handleAddNewPostType() {
		window.location.href = "/api/v1/manage/render-add-post-type";
	}

	function choosePostType(postTypeId) {
		window.location.href = `/api/v1/manage/show-posts-by-post-type/${encodeURIComponent(postTypeId)}`;
	}

	function deletePostType(postTypeName, postTypeId) {
		
		Swal.fire({
			title: 'Do you want to delete this post-type?',
			showDenyButton: true,
			showCancelButton: false,
			confirmButtonText: 'Delete',
			denyButtonText: 'Cancel',
			customClass: {
				actions: 'my-actions',
				cancelButton: 'order-1 right-gap',
				confirmButton: 'order-2',
			},
		}).then((result) => {
			if (result.isConfirmed) {
				fetch("/api/v1/manage/remove-post-type", {
					method: "POST",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify({ postTypeName, postTypeId })
				}).then(() => {
					window.location.reload();
				})
			} else if (result.isDenied) {
				Swal.fire('Changes are not saved', '', 'info')
			}
		})
	}

	function showAlert(postTypeName, postId) {
	    Swal.fire({
	        title: 'This posttype contains several posts',
	        text: 'To delete this post type please delete all posts inside this post type first!!',
	        icon: 'warning',
			timer: 3000,
	  timerProgressBar: true,
	  didOpen: () => {
	    const timer = Swal.getPopup().querySelector("b");
	    timerInterval = setInterval(() => {
	      timer.textContent = `${Swal.getTimerLeft()}`;
	    }, 100);
	  },
	  willClose: () => {
	    clearInterval(timerInterval);
	  }
	    })
	}
</script>