<div style="width: 100%;height: 100%;padding: 15px;overflow-y: auto;">
	<div>
		<div style="display: flex;flex-direction: column; align-items:flex-start;gap: 15px;">
			<h3 style="font-size: 24px;font-weight: 500;">Profile </h3>
		</div>
		<div class="msg-container">
			<% message?.forEach(msgItem =>{ %>
				<div class="msg">
					<p style="text-transform:capitalize"><i class="fa-regular fa-bell"></i><%= msgItem?.message || 'Howdy! Update your settings, personalise your backend and pick your themes here.' %></p>
					<button class="close-msg-btn" onclick="closeMessage(this)">&times;</button>
				</div>
			<% }) %>
		</div>
		

		<h3 style=" font-size: 20px;font-weight: 600;">Personal Options </h3>
		<div style="display: flex;align-items: center;justify-content: space-between;width: 100%;">
			<div class="setting-container">
				<div class="setting-inner-cont">
					<h3>Visual Editor</h3>
					<label class="custom-checkbox">
						<input style="vertical-align: middle;" type="checkbox">
						<span style="vertical-align: middle;" class="checkmark"></span>
						<span
							style="vertical-align: text-bottom;color: #555B61;font-weight:200;font-size: 12px;padding: 0 5px;">
							Disable the visual editor when writting
						</span>
					</label>
				</div>
				<div class="setting-inner-cont">
					<h3>Syntax Highlighting</h3>
					<label class="custom-checkbox">
						<input style="vertical-align: middle;" type="checkbox">
						<span style="vertical-align: middle;" class="checkmark"></span>
						<span
							style="vertical-align: text-bottom;color: #555B61;font-weight:200;font-size: 12px;padding: 0 5px;">
							Disable syntax highlighting when editing code
						</span>
					</label>
				</div>
				<div class="setting-inner-cont">
					<h3>Admin Color Scheme</h3>
					<div class="form-flex-parent-wr">
						<div class="form-child-cont">
							<div class="color-theme-radio-cont">
								<label>
									<input onchange="handleThemeChange(this)" <%= themeName=="Default" && "checked" %>
									type="radio" name="themeName" value="Default">
									<span>Default</span>
									<div class="color-table-wr">
										<table>
											<tr>
												<td style="background-color: #1D2327;"></td>
												<td style="background-color: #2C3338;"></td>
												<td style="background-color: #2271B1;"></td>
												<td style="background-color: #72AEE6;"></td>
											</tr>
										</table>
									</div>
								</label>
							</div>

							<div class="color-theme-radio-cont">
								<label>
									<input onchange="handleThemeChange(this)" <%=themeName=="Light" && "checked" %>
									type="radio" name="themeName" value="Light" >
									<span>
										Light
									</span>
									<div class="color-table-wr">
										<table>
											<tr>
												<td style="background-color: #E5E5E5;"></td>
												<td style="background-color: #999999;"></td>
												<td style="background-color: #D64E07;"></td>
												<td style="background-color: #04A4CC;"></td>
											</tr>
										</table>
									</div>
								</label>
							</div>

							<div class="color-theme-radio-cont">
								<label>
									<input onchange="handleThemeChange(this)" <%=themeName=="Modern" && "checked" %>
									type="radio" name="themeName" value="Modern" >
									<span>Modern</span>
									<div class="color-table-wr">
										<table>
											<tr>
												<td style="background-color: #1E1E1E;width:107px;"></td>
												<td style="background-color: #3858E9;width:107px;"></td>
												<td style="background-color: #33F078;width:107px;"></td>
											</tr>
										</table>
									</div>
								</label>
							</div>
							<div class="color-theme-radio-cont">
								<label>
									<input onchange="handleThemeChange(this)" <%=themeName=="Blue" && "checked" %>
									type="radio" name="themeName" value="Blue" >
									<span>Blue</span>

									<div class="color-table-wr">
										<table>
											<tr>
												<td style="background-color: #096484;"></td>
												<td style="background-color: #4796B3;"></td>
												<td style="background-color: #52ACCC;"></td>
												<td style="background-color: #74B6CE;"></td>
											</tr>
										</table>
									</div>
								</label>
							</div>
						</div>
						<div class="form-child-cont">
							<div class="color-theme-radio-cont">
								<label>
									<input onchange="handleThemeChange(this)" <%=themeName=="Coffee" && "checked" %>
									type="radio" name="themeName" value="Coffee" >
									<span>Coffee</span>
									<div class="color-table-wr">
										<table>
											<tr>
												<td style="background-color: #46403C;"></td>
												<td style="background-color: #59524C;"></td>
												<td style="background-color: #C7A589;"></td>
												<td style="background-color: #9EA476;"></td>
											</tr>
										</table>
									</div>
								</label>
							</div>
							<div class="color-theme-radio-cont">
								<label>
									<input onchange="handleThemeChange(this)" <%=themeName=="Ectoplasm" && "checked" %>
									type="radio" name="themeName" value="Ectoplasm" >
									<span>Ectoplasm</span>
									<div class="color-table-wr">
										<table>
											<tr>
												<td style="background-color: #413256;"></td>
												<td style="background-color: #523F6D;"></td>
												<td style="background-color: #A3B745;"></td>
												<td style="background-color: #D46F15;"></td>
											</tr>
										</table>
									</div>
								</label>
							</div>
							<div class="color-theme-radio-cont">
								<label>
									<input onchange="handleThemeChange(this)" <%=themeName=="Midnight" && "checked" %>
									type="radio" name="themeName" value="Midnight" >
									<span>Midnight</span>
									<div class="color-table-wr">
										<table>
											<tr>
												<td style="background-color: #25282B;"></td>
												<td style="background-color: #363B3F;"></td>
												<td style="background-color: #69A8BB;"></td>
												<td style="background-color: #E14D43;"></td>
											</tr>
										</table>
									</div>
								</label>
							</div>
							<div class="color-theme-radio-cont">
								<label>
									<input onchange="handleThemeChange(this)" <%=themeName=="Ocean" && "checked" %>
									type="radio" name="themeName" value="Ocean" >
									<span>Ocean</span>
									<div class="color-table-wr">
										<table>
											<tr>
												<td style="background-color: #627C83;"></td>
												<td style="background-color: #738E96;"></td>
												<td style="background-color: #9EBAA0;"></td>
												<td style="background-color: #AA9D88;"></td>
											</tr>
										</table>
									</div>
								</label>
							</div>
						</div>
						<div class="form-child-cont">
							<div class="color-theme-radio-cont">
								<label>
									<input onchange="handleThemeChange(this)" <%=themeName=="Sunrise" && "checked" %>
									type="radio" name="themeName" value="Sunrise" >
									<span>Sunrise</span>
									<div class="color-table-wr">
										<table>
											<tr>
												<td style="background-color: #B43C38;"></td>
												<td style="background-color: #CF4944;"></td>
												<td style="background-color: #DD823B;"></td>
												<td style="background-color: #CCAF0B;"></td>
											</tr>
										</table>
									</div>
								</label>
							</div>


						</div>
					</div>
				</div>

			</div>
		</div>
		<div style="margin: 15px 0px;">
			<h3 style=" font-size: 20px;font-weight: 600;">Profile Settings </h3>
			<form action="/api/v1/manage/auth/update-user-profile" method="post" enctype="multipart/form-data">
				<div class="setting-container">
					<div class="setting-inner-cont">
						<img src="<%= profileImage ? '/images/'+profileImage : '/static/avatar_placeholder.jpg' %>" width="125" alt="avatar">
					</div>
					<div class="setting-inner-cont">
						<h3>Username</h3>
						<input class="form-control" value="<%= username %>" style="width: 40%;" type="text" name="username">
					</div>
					<div class="setting-inner-cont">
						<h3>Email</h3>
						<input class="form-control" value="<%= email %>" disabled style="width: 40%;" type="text" name="email">
					</div>
					<div class="setting-inner-cont">
						<h3>Profile Image</h3>
						<input type="file" name="profileImage">
					</div>
					<span style="font-size: 14px; padding-left: 7%;">OR</span>
					<div class="setting-inner-cont" style="margin: 35px 0 0;">
						<div>
							<h3>Default Avatar</h3>
						</div>
						<div style="display: flex;flex-direction: column;">
							<label style="font-weight: 400;">For users without a custom avatar of their own, you can either display a generic logo or a generated one based on their email address.</label>
							<label style="display: flex;align-items: center; gap: 5px;padding: 15px 0;">
								<input type="radio" name="profileImage" value="MysteryMan.png" <% if (profileImage === "MysteryMan.png") { %> checked <% } %>>
								<figure style="display: flex;align-items: center; gap: 5px;margin: 0;">
									<img src="https://0.gravatar.com/avatar/609a6c893002e5ad09a2b2aa269e31d3?s=32&d=mm&f=y&r=g">
									<figcaption>Mystery Person</figcaption>
								</figure>
							</label>

							<label style="display: flex;align-items: center; gap: 5px;padding: 15px 0;">
								<input type="radio" name="profileImage" value="Gravatar.jpg" <% if (profileImage === "Gravatar.png") { %> checked <% } %>>
								<figure style="display: flex;align-items: center; gap: 5px;margin: 0;">
									<img src="http://0.gravatar.com/avatar/609a6c893002e5ad09a2b2aa269e31d3?s=32&f=y&r=g">
									<figcaption>Gravatar Logo</figcaption>
								</figure>
							</label>

							<label style="display: flex;align-items: center; gap: 5px;padding: 15px 0;">
								<input type="radio" name="profileImage" value="identicon.png" <% if (profileImage === "identicon.png") { %> checked <% } %>>
								<figure style="display: flex;align-items: center; gap: 5px;margin: 0;">
									<img src="	http://0.gravatar.com/avatar/609a6c893002e5ad09a2b2aa269e31d3?s=32&d=identicon&f=y&r=g">
									<figcaption>Identicon</figcaption>
								</figure>
							</label>

							<label style="display: flex;align-items: center; gap: 5px;padding: 15px 0;">
								<input type="radio" name="profileImage" value="Wavavtar.png" <% if (profileImage === "Wavavtar.png") { %> checked <% } %>>
								<figure style="display: flex;align-items: center; gap: 5px;margin: 0;">
									<img src="http://0.gravatar.com/avatar/609a6c893002e5ad09a2b2aa269e31d3?s=32&d=wavatar&f=y&r=g">
									<figcaption>Wavatar</figcaption>
								</figure>
							</label>
							<label style="display: flex;align-items: center; gap: 5px;padding: 15px 0;">
								<input type="radio" name="profileImage" value="MonsterId.png" <% if (profileImage === "MonsterId.png") { %> checked <% } %>>
								<figure style="display: flex;align-items: center; gap: 5px;margin: 0;">
									<img src="http://0.gravatar.com/avatar/609a6c893002e5ad09a2b2aa269e31d3?s=32&d=monsterid&f=y&r=g">
									<figcaption>MonsterID</figcapt0ion>
								</figure>
							</label>

							<label style="display: flex;align-items: center; gap: 5px;padding: 15px 0;">
								<input type="radio" name="profileImage" value="RetroIcon.png" <% if (profileImage === "RetroIcon.png") { %> checked <% } %>>
								<figure style="display: flex;align-items: center; gap: 5px;margin: 0;">
									<img src="http://0.gravatar.com/avatar/609a6c893002e5ad09a2b2aa269e31d3?s=32&d=retro&f=y&r=g">
									<figcaption>Retro</figcaption>
								</figure>
							</label>

							<label style="display: flex;align-items: center; gap: 5px;padding: 15px 0;">
								<input type="radio" name="profileImage" value="Robohash.png" <% if (profileImage === "Robohash.png") { %> checked <% } %>>
								<figure style="display: flex;align-items: center; gap: 5px;margin: 0;">
									<img style="border: 1px solid rgba(0,0,0,0.3);" src="https://0.gravatar.com/avatar/609a6c893002e5ad09a2b2aa269e31d3?s=32&d=robohash&f=y&r=g">
									<figcaption>RoboHash</figcaption>
								</figure>
							</label>


						</div>
						
					</div>
					<button class="button-main-md button-main">Update</button>
				</div>
			</form>
		</div>
		<!-- <div>
			<h3 style=" font-size: 20px;font-weight: 600;">Security Settings </h3>
			<div style="display: flex;align-items: center;justify-content: start;">
				<img src="/static/icons8-lock-24.png" width="18" alt="">
				<p style="margin: 0px;font-size: 13px;">Password management</p>
			</div>
			<button class="button-secondary-blue" style="margin: 10px 0px;">Manage Password</button>
		</div>	 -->
	</div>
</div>

</div>
<script>
	function closeMessage(buttonElement) {
		const container = buttonElement.closest(".msg");
		container.style.display = 'none';
		const parent = buttonElement.closest(".msg-container");
		const children = parent.querySelectorAll(".msg");
		var visibleCount = 0;
		for(var i=0; i<children.length; i++){
			if(window.getComputedStyle(children[i]).display !== none){
				visibleCount++;
			}
		}
		if(visibleCount === 0){
			parent.style.display = 'none'
		}
	}

	function handleThemeChange(inputElement) {
		console.log(inputElement.value);
		fetch("/api/v1/manage/change-color-theme", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({ themeName: inputElement.value })
		})
			.then(res => window.location.reload());
	}
</script>