<div style="width: 100%; height: 100%;background-color: #f0f0f1;display: flex;align-items:flex-start;">


    <form action="/api/v1/manage/update-coupon" method="POST" style="width: 36%;padding: 15px;display: flex;flex-direction: column;height: 93vh;border-right: 1px dashed rgba(0,0,0,0.25);">
        <h5 style="font-weight: 600; font-size: 13px; text-transform: uppercase;margin-bottom: 5px;padding-bottom: 5px;">
        Add new Coupon</h5>
	<input type="hidden" name="couponId" value="<%= couponData._id  %>" >
        <label class="mt-2" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Coupon Code:</label>
        <input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="couponCode" name="couponCode" value="<%= couponData.couponCode %>" >
        <span style="color: rgba(0,0,0,0.7);font-size: 13px;font-weight: 500;">The name is how it appears on the site.</span>
        
        <label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Coupon Name:</label>
        <input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" name="couponName" id="couponName" value="<%= couponData.couponName  %>">
        
        <label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Coupon Discount (%):</label>
        <input type="number" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="couponDiscount" min="1" max="99" name="couponDiscount" value="<%= couponData.couponDiscount %>">

	<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Maximum Discount ($ USD):</label>
        <input type="number" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" min="1" id="maximumAllowedDiscount" name="maximumAllowedDiscount" value="<%= couponData.maximumAllowedDiscount %>">

        <label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Coupon Description:</label>
        <textarea name="couponDescription" id="couponDescription" cols="30" rows="5" style="border: 1px solid rgba(0,0,0,0.2);"><%= couponData.couponDescription %></textarea>
        <span style="color: rgba(0,0,0,0.7);font-size: 13px;font-weight: 500;">The description of a coupon is not prominent by default and can be used for user's convenience.</span>

        <button class="button-main button-main-md" type="submit" style="border-radius: 2px;margin-top: 10px;">Update Coupon</button>
        
    </form>


    <div style="position: relative;height: 93vh;width: 60%;margin: 0 auto;">

    <div style="display: flex;width: 100%;padding: 15px; gap: 25px;">
        <div style="width: 100%;padding: 20px;background-color: #fff;height: fit-content;">
            <div style="background-color: #D1FAE5; border-radius: 6px; padding: 10px; margin-top: 15px;">
                    <h6 style="color: #10B981; font-weight: bold; letter-spacing: 2px; line-height: 20px; display: flex; align-items: center; margin-bottom: 10px; gap: 5px;">
                        <i style="font-size: 22px; line-height: 20px;" class='bx bxs-award'></i> <span id="couponCodePlaceholder"><%= couponData.couponCode %></span>
                    </h6>
                    <p style="color: #047857; font-size: 13px; line-height: 18px; margin-top: 5px; padding-left: 30px; padding-right: 30px;">Coupon Applied: <span id="couponDescriptionPlaceholder"><%= couponData.couponDescription%></span></p>
                    <div style="text-align: right;">
                        <button  style="color: #e42b5c; font-weight: 600; border: none; background-color: transparent;" >Remove</button>
                    </div>
                </div>
	    </div>

        <div class="offers-cards-wr">
    </div>
</div>
</div>




</div>

<script>
    function generateCouponId() {
        
        const postTypeName = document.getElementById("couponCode").value;
        const slugElement = document.getElementById("couponId");
        if(!postTypeName) return slugElement.value ="";
        const dt = new Date();
        const mil = "__"+dt.getTime();
        const slug = "crp__"+postTypeName.toLowerCase()?.split(" ").join("")+mil;
        slugElement.value = slug;
    }

    // JavaScript state management for real-time updates
    document.getElementById('couponCode').addEventListener('input', function(event) {
        document.getElementById('couponCodePlaceholder').innerText = event.target.value;
    });
    document.getElementById('couponCode').addEventListener('input', function(event) {
        document.getElementById('couponCodePlaceholderSecond').innerText = event.target.value;
    });

    document.getElementById('couponDescription').addEventListener('input', function(event) {
        document.getElementById('couponDescriptionPlaceholder').innerText = event.target.value;
    });

    document.getElementById('couponDescription').addEventListener('input', function(event) {
        document.getElementById('couponDescriptionPlaceholderSecond').innerText = event.target.value;
    });



    document.querySelectorAll(".file-upload").forEach((Element) => {
	const fileInput = Element.querySelector('.file-input');
	const dropZone = Element.querySelector('.drop-zone');
	var	isUploaded = false;
	dropZone.textContent = '+';
	
	fileInput.addEventListener('change', function() {
		const files = fileInput.files;
		
		if (files.length > 0) {
			isUploaded = true;
			dropZone.classList.add('uploaded');
			dropZone.textContent = '✓';
		} else {
			isUploaded = false;
			dropZone.classList.remove('uploaded');
			dropZone.textContent = '+';
		}
	});

	dropZone.addEventListener('click', function() {
		fileInput.click();
	});
	
	dropZone.addEventListener('mouseenter', function(event) {
		if (isUploaded)
			dropZone.textContent = '⭯';
	});
	
	dropZone.addEventListener('mouseleave', function(event) {
		if (isUploaded)
			dropZone.textContent = '✓';
	});

	dropZone.addEventListener('dragstart', function(event) {
		dropZone.dataTransfer.setData('Files', '');; 
	});

	dropZone.addEventListener('dragenter', function(event) {
		if (isUploaded)
			dropZone.textContent = '⭯';
		dropZone.classList.add('dragOver');
	});

	dropZone.addEventListener('dragover', function(event) {
		event.preventDefault();
	});

	dropZone.addEventListener('dragleave', function(event) {
		if (isUploaded)
			dropZone.textContent = '✓';
		dropZone.classList.remove('dragOver');
	});

	dropZone.addEventListener('drop', function(event) {
		event.preventDefault();
		dropZone.classList.remove('dragOver');

		fileInput.files = event.dataTransfer.files;

		var changeEvent = new Event('change');
		fileInput.dispatchEvent(changeEvent);
	});
});

function previewImage(event) {
        const file = event.target.files[0];
        const imagePreview = document.getElementById('imagePreview');
        
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            imagePreview.src = '';
            imagePreview.style.display = 'none';
        }
    }
</script>
