<div style="width: 100%;height: 100%;padding: 15px; overflow-y: auto;padding-bottom: 50px;">
	<div style="display: flex;align-items: center;justify-content: space-between;width: 100%;">
		<div id="all-posts-top-heading" style="width: 100%;">
			<h1 style="font-size: 18px;font-weight: 500;">
				Invoiced Orders 
			</h1>
			<div style="display: flex;align-items: center;justify-content: space-between;width: 100%;">
				<p style="font-size: 13px;margin: 0;"> <a class="nrm-txt" style="font-weight: 400;text-decoration: none;color: #484848;" href="/api/v1/manage/show-posts-by-post-type">All <span style="color: #969696;" >(<%= orders?.length %>)</span></a> </p>

				<div style="display: flex;align-items: center;gap: 5px;">
					<form action="/api/v1/manage/search-order-by-id" method="post">
						<input style="padding: 5px;outline: none;border: 1px solid rgba(0,0,0,0.25);" type="text" name="orderId" id="orderId">
						<button class="button-secondary-blue" style="border-radius: 2px;">Search Orders</button>
					</form>	
				</div>
			</div>
		<div style="display: flex;flex-direction:column;width: 100%;margin-top:15px">
			<label for="filter-by-provider" >Filter by Provider</label>
			<select class="form-select" onChange="handleFilterByProvider(event)" style="margin-top:5px;font-size: 13px;border: 1px solid #8C8F94;border-radius: 2px;width: 250px;" id="filter-by-provider">
				
				<option value="" >Choose Providers</option>
				<option value="all" >All Providers</option>
				<% for(let provider of providers) { %>
				<option value="<%= provider.providerId %>" ><%= provider.name %></option>
				<% } %>
			</select>
		</div>	

			<div style="display: flex;align-items: center;justify-content: flex-end;width: 100%;padding: 10px 0px;">
				<div>
					<nav aria-label="Page navigation example">
						<ul class="pagination" style="margin: 0;">
						  <li class="page-item <%= parseInt(currentpage) == 1 ? 'disabled':'' %>"><a class="page-link button-secondary" style="border-radius: 2px;" href="/api/v1/manage/show-posts-by-post-type?currentpage=<%= parseInt(currentpage)-1 %>&paginationtype=<%= paginationtype %>&searchquery=<%= searchquery %>"><span aria-hidden="true">&laquo;</span></a></li>

						  <% for(let i=1; i <= parseInt(numberOfPages); i++) { %>
							<li class="page-item <%= parseInt(currentpage) == i ? 'active':'' %>"><a class="page-link button-secondary" style="border-radius: 2px;" href="/api/v1/manage/show-posts-by-post-type?currentpage=<%= i %>&paginationtype=<%= paginationtype %>&searchquery=<%= searchquery %>"><span aria-hidden="true"><%= i %></span></a></li>
						  <% } %>

						  <li class="page-item <%= parseInt(currentpage) == numberOfPages ? 'disabled':'' %>"><a class="page-link button-secondary" style="border-radius: 2px;" href="/api/v1/manage/show-posts-by-post-type?currentpage=<%= parseInt(currentpage)+1 %>&paginationtype=<%= paginationtype %>&searchquery=<%= searchquery %>"><span aria-hidden="true">&raquo;</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="msg-container">
				<% message?.forEach(msgItem =>{ %>
					<div class="msg" style="background-color: <%= msgItem?.success ? '#fff':'#FFB0B03f' %>;">
						<p style="text-transform:capitalize"><i class="<%= msgItem?.success ? 'fa-regular fa-bell' : 'fa-solid fa-circle-exclamation' %>" style="color:<%= msgItem?.success ? '#484848':'#D04848'  %>"></i><%= msgItem?.message || 'Howdy! Manage your pages here.' %></p>
						<button class="close-msg-btn" onclick="closeMessage(this)">&times;</button>
					</div>
				<% }) %>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</div>
	<style>
		tbody tr:nth-child(odd) {
			background-color: #f6f7f7;
		}

		tbody tr:nth-child(even) {
			background-color: #fff;
		} 
	</style>
	<div style="background: linear-gradient(to bottom, #f7f7f7 5%, #ffffff,  #f7f7f7 95% );border:1px solid rgba(0,0,0,0.3); border-bottom:0px;display:flex;align-items:center;padding:8px 15px">
                <form style="display:flex;align-items:center; " onsubmit="handleBulkActionSubmit(event)">
                <select class="form-select" id="bulkActionSelect" style="font-size: 13px;border: 1px solid #8C8F94;border-radius: 2px;width: 150px;" aria-label="Default select example">
                                                <option value="" selected>Bulk Actions</option>
                                                <option value="In Transit">In Transit</option>
                                                <option value="Testing Complete">Testing Complete</option>
                                                <option value="Rejected">Rejected</option>
                                        </select>
                <button class="button-secondary-blue" style="background-color:#ffffff;margin-left:5px;box-shadow:1px 1px 1px 1px rgba(0,0,0,0.1);border-radius:0px">Update</button>
                </form>
        </div>	
	<% if(orders?.length> 0) { %>
		<table width="100%" cellspacing="0" cellpadding="0" style="border: 1px solid rgba(0,0,0,0.25);">
			<thead style="border-bottom: 2px solid #d8d8d8;background-color: #fff;">
				<tr>
					 <th>
                                                <div style="display: flex; align-items: center; justify-content: start;padding: 10px;">
                                                        <input class="form-check-input" style="border:1px solid #2271b1;" onclick="handleAllOrdersChecked(event)"  type="checkbox" value="allOrders" id="flexCheckDefault">
                                                        <label class="form-check-label" style="text-transform:capitalize;margin-left:5px;" for="flexCheckDefault">
                                                            Select All
                                                        </label>
                                                </div>
                                        </th>
					<th>
						<div style="display: flex; align-items: center; justify-content: start;padding: 10px;">
							<h3 style="font-size: 14px;margin: 0px;">Order Id</h3>
						</div>
					</th>
					<th>
						<div style="display: flex; align-items: center; justify-content: start;padding: 10px;">
							<h3 style="font-size: 14px;margin: 0px;">Name</h3>
						</div>
					</th>
					<th>
						<div style="display: flex; align-items: center; justify-content: start;">
							<h3 style="font-size: 14px;margin: 0px;">Email</h3>
						</div>
					</th>
					<th>
						<div style="display: flex; align-items: center; justify-content: start;">
							<h3 style="font-size: 14px;margin: 0px;">Phone</h3>
						</div>
					</th>
					<th>
						<div style="display: flex; align-items: center; justify-content: start;">
							<h3 style="font-size: 14px;margin: 0px;">Dob</h3>
						</div>
					</th>
					<th>
						<div style="display: flex; align-items: center; justify-content: start;">
							<h3 style="font-size: 14px;margin: 0px;">Payment</h3>
						</div>
					</th>
					<th>
                                                <div style="display: flex; align-items: center; justify-content: start;">
                                                        <h3 style="font-size: 14px;margin: 0px;">Test Status</h3>
                                                </div>
                                        </th>
					<th>
						<div style="display: flex; align-items: center; justify-content: start;">
							<h3 style="font-size: 14px;margin: 0px;">Actions</h3>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>

				<% orders.reverse().forEach(post=> { %>
					<tr style="border-bottom: 1px solid rgba(0,0,0,0.25);">
						<td style="padding: 5px 10px;">
                                                        <div style="font-size: 13px;">
                                                                <input class="form-check-input" style="border:1px solid #2271b1;" onclick="toggleBulkList(event, '<%= post._id %>')"  type="checkbox" value="<%= post.orderId %>" id="<%= post._id %>">
                                                        </div>
                                                </td>
						<td style="padding: 5px 10px;">
							<div style="font-size: 13px;">
								<span>
									<span style="background-color:#d97706;color: #ffffff;font-weight: 500;padding:3px 6px;"> <%= 'NDD'+post.orderId %></span>
								</span>
							</div>
						</td>
						<td style="padding: 5px 10px;">
							<div style="font-size: 13px;">
								<span style="font-weight: 400;color: #2271B7;">
									<%= post.firstName+" "+post.lastName %>
								</span>
							</div>
						</td>
						<td style="padding: 5px 10px;">
							<div style="font-size: 13px;">
								<span style="font-weight: 400;color: #2271B7;">
									<%= post.email %>
								</span>
							</div>
						</td>
						<td style="padding: 5px 10px;">
							<div style="font-size: 13px;">
								<span style="width: 250px;display: block;">
									<%= post.phone %>
								</span>
							</div>
						</td>
						<td style="padding: 5px 10px;">
							<div style="font-size: 13px;">
								<span style="font-weight: 500;color: #2271B7;">
									<%= post.dob %>
								</span>
							</div>
						</td>
						<td style="padding: 5px 10px;">
							<div style="font-size: 13px;">
								<span style="font-weight: 600;color: <%= post.paymentConfirmed === true ? '#65a30d':'#dc2626' %>;">
									<%= post.paymentConfirmed ? "Confirmed":"Pending" %>
								</span>
							</div>
						</td>
						<td style="padding: 5px 10px;">
                                                        <div style="font-size: 13px;">
								<span style="display:inline-block;padding:5px 15px;font-weight: 600;background-color: <%= post.testStatus === "Testing Complete" ? '#059669':'transparent' %>; color:<%= post.testStatus === "Testing Complete" ? '#ffffff':'#000000' %>">
                                                                        <%= post.testStatus %>
                                                                </span>
                                                        </div>
                                                </td>
						
						<td style="padding: 5px 10px;">
							<div style="font-size: 13px;">
								<span style="font-weight: 400;text-transform: capitalize;">
									<i class="fa-solid fa-eye" onclick="showOrder('<%= post._id %>')" style="font-size: 12px;color: <%= post?.visibility == 'visible' ? '#74DC2E' :'#2271B7' %>;cursor: pointer;"></i>
								</span>
							</div>
						</td>
					</tr>

					<% }) %>
			</tbody>
		</table>
		<% } else { %>
			<div class="empty-post-bg"
				style="display: flex;flex-direction: column; align-items: center;justify-content: center;height: 400px;">
				<h1 style="color:rgba(0,0,0,0.75);margin-bottom: 25px;font-family: Arial, Helvetica, sans-serif;font-weight: 500;">No invoiced orders have been placed yet...</h1>
			</div>
		<% } %>
</div>
<script>

	let bulkActionGLB = [];
	function closeMessage(buttonElement) {
		const container = buttonElement.closest(".msg");
		container.style.display = 'none';
		const parent = buttonElement.closest(".msg-container");
		const children = parent.querySelectorAll(".msg");
		var visibleCount = 0;
		for(var i=0; i<children.length; i++){
			if(window.getComputedStyle(children[i]).display !== none){
				visibleCount++;
			}
		}
		if(visibleCount === 0){
			parent.style.display = 'none'
		}
	}

	function handleBulkActionSubmit(e) {
                e.preventDefault();
                const bulkActionSelect = document.getElementById('bulkActionSelect');
                if(bulkActionSelect.value === "") return;
                else if( bulkActionGLB.length === 0) return;
                else {
                        fetch("/api/v1/manage/apply-bulk-status-action", {
                                method:"post",
                                headers: {
                                  "Content-Type": "application/json"
                                },
                                body: JSON.stringify({orders: bulkActionGLB, status: bulkActionSelect.value})
                        })
                        .then(res => res.json())
                        .then(data => {
                                console.log('request bulk made',data);
                                if(data.success === true){
                                  window.location.reload();
                                }
                        }).catch(err => {console.log(err)})
                }
        }

        function toggleBulkList(event, orderId) {
                if(event.target.checked === true){
                        bulkActionGLB.push(orderId);
                } else if (event.target.checked === false) {
                        bulkActionGLB = bulkActionGLB.filter(item => item !== orderId);
                }
                console.log(bulkActionGLB);
        }

        function handleAllOrdersChecked(event){
                if(event.target.checked === true){
                        const data = <%- JSON.stringify(orders) %>;
                        bulkActionGLB = data.map(item=>item._id);
                        handleChecking();
                } else if (event.target.checked === false){
                        bulkActionGLB = [];
                        handleChecking();
                }
        }

	function handleChecking(){
                if(bulkActionGLB.length === 0){
                        const data = <%- JSON.stringify(orders) %>;
                        const order_ids = data.map(item=>item._id);
                        order_ids.forEach(id => {
                                const checkboxItem = document.getElementById(id);
                                checkboxItem.checked = false;
                        })
                } else {
                        bulkActionGLB.forEach(item => {
                                const checkboxItem = document.getElementById(item);
                                checkboxItem.checked = true;
                        })
                }
        }

	function handleFilterByProvider(event) {
		console.log("Filtering by provider",event.target.value);
		if(event.target.value === 'all'){
			window.location.href = `/api/v1/manage/render-invoiced-orders`;	
		} else {
			window.location.href = `/api/v1/manage/render-invoiced-orders?provider=${event.target.value}`
		}
	}

	function showOrder(orderId) {
		window.location.href = `/api/v1/manage/show-order/${orderId}`;
	}

	function createNewProvider() {
		window.location.href = `/api/v1/manage/render-create-new-provider`;
	}

	function submitForm(selectElement) {
		const form = selectElement.closest("form")
        form.submit();
    }
</script>
