<div style="width: 100%; height: 100%;background-color: #f0f0f1;display: flex;align-items: center;justify-content: center;">
        <div style="width: 40%; background-color: #fff;padding: 20px;">
                <h3 style="text-align: center;">Create a new Coupon</h3>
		<div class="msg-container" style="width: 100%;">
                <% message?.forEach(msgItem =>{ %>
                        <div class="msg" style="background-color: <%= msgItem?.success ? '#fff':'#FFB0B03f' %>;">
                                <p style="text-transform:capitalize;display: flex;align-items: center;"><i class="<%= msgItem?.success ? 'fa-regular fa-bell' : 'fa-solid fa-circle-exclamation' %>" style="color:<%= msgItem?.success ? '#484848':'#D04848'  %>"></i>
                                        <span>
                                                <%= msgItem?.message || 'Howdy! Here is a quick overview of everything.' %></p>
                                        </span>
                                <button class="close-msg-btn" onclick="closeMessage(this)">&times;</button>
                        </div>
                <% }) %>
        </div>
                <form action="/api/v1/manage/add-new-coupon" method="POST">
                        <div style="padding: 20px 0;">

				<label class="pb-2" for="productSelect">Choose a Product:</label>
			 	<select class="form-select" name="productName" id="productSelect" style="font-size: 13px;border: 1px solid #8C8F94;border-radius: 2px;width: 100%;" aria-label="Default select example">
                                                <option value="" selected>Choose a Product</option>
						<% for(let post of posts) { %>
                                                  <option value="<%= post.productName %>"><%= post.productName+' - $'+post.productPrice+'/-' %></option>
						<% } %>
                                        </select>	

                                <label class="pb-2 mt-3" for="modelName">Coupon Name:</label>
                                <input class="form-control" name="couponName" style="width: 100%;display: block;padding: 5px;" type="text" id="modelName" required>

                                <label for="modelSlug" class="form-label mt-3" style="display: block;">Coupon Code:</label>
                                <input class="form-control" style="width: 100%;display: block;padding: 5px;" type="text" name="couponCode" id="modelSlug">
                                <span class="mb-3" style="display: block;font-size: 12px;">This is the name of the model and should be unique</span>

				<div style="display:flex;align-items:center;gap:5px;">
					<div class="input-group mb-3">
					  <span class="input-group-text" style="font-size:14px;"  id="basic-addon1">Discount (%)</span>
					  <input type="number" name="discount" min="1" max="99" class="form-control" placeholder="% discount" aria-label="Username" aria-describedby="basic-addon1">
					  <span class="input-group-text" style="font-size:14px;" id="basic-addon1">Limit ($)</span>
					  <input type="number" min="1"  name="maxAllowed" class="form-control" placeholder="Maximum allowed discount" aria-label="Username" aria-describedby="basic-addon1">
					</div>	
				</div>

                                <button type="button" onclick="generateSlug()" class="mt-3 button-secondary" >Generate unique code</button>
                                <button class="mt-3 button-main button-main-md" >Create Coupon</button>
                        </div>
                </form>
        </div>
        <script>
                function generateSlug() {
                        const modelName = document.getElementById("modelName").value;
                        const slugElement = document.getElementById("modelSlug");
                        if(!modelName) return slugElement.value ="";
                        const slug = "NDD"+"-"+modelName.toUpperCase()?.split(" ").join("");
                        slugElement.value = slug;
                        console.log("function called", slug)
                }
        </script>
</div>

